.big-article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.big-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.back-button {
  padding: 8px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.6);
  cursor: pointer;
   color: var(--white-text-primary);
  background-color: var( --lighter-background);
}

.big-article img {
  width: 100%;
}

.big-article h1 {
  margin-bottom: 20px;
}

.big-article p {
  margin-top: 30px;
  overflow: hidden;
  color: var(--text-primary);
  transition: color .5s;
}

.big-article img {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.6);
}

.big-article-container .fa-arrow-left {
  color: var(--text-primary);
  margin-bottom: 10px;
  transition: color .5s;
  text-decoration: none;
}

.big-article-container a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .big-article {
    width: 80%;
  }
}
/* 
.scroll-button {
  position: fixed;
  bottom: 100px;
  right: 30%;
  display: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px; 
  border-radius: 10px;
}

.scroll-button.active {
  display: block;
} */
