.coaches {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}


.coaches img {
  display: block;
  max-height: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.6);
}

.coach-info-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  gap: 20px;
}

.coach-image-container {
  flex: 1;
  height: 100%;
}

.coach-text-container {
  height: 70%;
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.coach-card {
  height: 200px;
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--article-background);
  color: var(--text-primary);
  transition: all 0.5s;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.6);
}

.coach p {
  color: var(--text-primary);
  transition: color 0.5s;
}

@media screen and (max-width:768px)  {
  .coach-card {
    width: 100%;
  }
}